{% extends 'templates/admin.twig' %}

{% block title %}List All Publish Post - {% endblock %}

{% block pageheader %}List All Publish Post{% endblock %}

{% block content %}
    <div class="box box-danger">
        <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <th>Title</th>
                    <th style="width: 40px">Edit</th>
                    <th style="width: 40px">Delete</th>
                </tr>
                {% for article in article %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td><a href="{{ article.id }}"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="/post/{{ article.id }}/delete"><i class="fa fa-trash"></i></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>    
{% endblock %}
