<!DOCTYPE html>
<html>
    <head>
        <title>Slim Framework</title>
        <link rel="shortcut icon" type="image/png" href="{{ base_url() }}/assets/img/slimframework.png">
    </head>

    <body>
        <div style="text-align: center;">
            <a href="{{ path_for('home') }}"><h1>SLIM FRAMEWORK</h1></a>
        </div>
    </body>
</html>