<?php

return [
    'settings' => [

        // Show error
        'displayErrorDetails' => true,

        // Validator
        'lang' => [
            'default' => 'id',
        ],

        // Twig View
        'view' => [
            'template_path' => __DIR__ . '/../views',
            'twig' => [
                'cache' => false,
                'debug' => true,
                'auto_reload' => true,
            ],
        ],

        // Elloquent
        'db' => [
            'driver'    => 'mysql',
            'host'      => 'localhost',
            'database'  => 'dbname',
            'username'  => 'root',
            'password'  => 'root',
            'charset'   => 'utf8',
            'collation' => 'utf8_unicode_ci',
            'prefix'    => '',
        ],
    ],
];
